---
import { Image } from "astro:assets";
import afif2 from "@/assets/afif-02.jpg";
// import { Icon } from "astro-icon/components";
// const profileLinks = [
//   {
//     href: "https://www.instagram.com/nonieck_/",
//     label: "Instagram",
//     icon: "cib:instagram",
//   },
//   {
//     href: "https://www.linkedin.com/in/mhdafif/",
//     label: "LinkedIn",
//     icon: "cib:linkedin",
//   },
//   { href: "https://github.com/mhdafif", label: "GitHub", icon: "cib:github" },
// ];
// const getYearsOfExperience = () => {
//   const startDate = new Date("2018-09-01");
//   const currentDate = new Date();
//   const years = currentDate.getFullYear() - startDate.getFullYear();
//   const months = currentDate.getMonth() - startDate.getMonth();

//   return months < 0 ? years - 1 : years;
// };
// const yearsOfExperience = getYearsOfExperience();
---

<div class="relative h-full w-full">
  <article
    class="card__article group relative h-full overflow-hidden rounded-lg"
  >
    <Image
      src={afif2}
      alt="my-picture"
      class="h-full rounded-lg object-cover transition-transform duration-500 ease-out group-hover:scale-110"
    />

    <div class="card__shadow"></div>

    <div class="card__user text-star absolute bottom-8 left-6">
      <h2 class="text-3xl font-bold">Muhammad Afif</h2>
      <span class="font-semibold">Frontend Engineer</span>
    </div>

    <!-- <div class="card__clip transition-all">
      <Icon name="ic:round-menu-open" class="text-blacki" />
    </div>

    <div class="info">
      <div>
        <h2 class="text-4xl font-bold mb-6">Muhammad Afif</h2>
        <p class="text-off-white/80 font-medium">
          I'm a passionate and detail-oriented <span class="text-star text-lg"
            >Frontend Developer
          </span> with over <span class="text-star text-lg">
            {yearsOfExperience} years
          </span> of experience specializing in building modern, scalable, and performant
          web applications.
        </p>
      </div>

      <div class="absolute right-6 bottom-6 flex gap-3">
        {
          profileLinks.map((link) => (
            <a
              href={link.href}
              target="_blank"
              class="shadow-star-glow bg-star rounded-5 text-blacki transition-transform duration-500 ease-out p-1.5 text-2xl hover:-translate-y-1"
              aria-label={link.label}
            >
              <Icon name={link.icon} class="" />
            </a>
          ))
        }
      </div>
    </div> -->
  </article>
</div>

<!-- <script>
  const info = document.querySelector(".info");
  const article = document.querySelector(".card__clip");

  info.addEventListener("mouseenter", () => {
    article.classList.add("!animate-none");
  });

  info.addEventListener("mouseleave", () => {
    article.classList.remove("!animate-none");
  });
</script> -->

<style lang="scss">
  .card__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }

  .card__user {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--color-star);
    color: var(--color-charcoal);
    padding: 0.5rem 0.75rem;
    outline: 10px solid var(--color-charcoal);
    border-radius: 0 var(--radius-lg) 0;
  }

  .card__clip {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--color-star);
    box-shadow: 0 0 16px 4px var(--color-star);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    z-index: 5;
    cursor: pointer;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
  }

  .card__article:hover .card__clip {
    animation-name: throb;
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    padding: 3rem 1.5rem 1.5rem;
    color: var(--color-off-white);
    clip-path: circle(16px at calc(100% - 2rem) 2rem);
    transition: clip-path 0.5s ease-in-out;
    animation: pulse-shadow 1s infinite alternate ease-in-out;
  }

  @keyframes pulse-shadow {
    from {
      box-shadow: 0 0 8px var(--color-star) inset;
    }
    to {
      box-shadow: 0 0 0px var(--color-star) inset;
    }
  }

  .info:hover,
  .card__clip:hover ~ .info {
    clip-path: circle(100%);
  }

  @keyframes throb {
    to {
      transform: scale(1.125);
    }
  }
</style>
