---
import Modal from "@/components/Modal.astro";
import { Icon } from "astro-icon/components";
import aafifDesktop1 from "@/assets/portofolio/aafif-space/desktop-1.jpg";
import aafifDesktop2 from "@/assets/portofolio/aafif-space/desktop-2.jpg";
import aafifDesktop3 from "@/assets/portofolio/aafif-space/desktop-3.jpg";
import aafifMobile1 from "@/assets/portofolio/aafif-space/mobile-1.jpg";
import aafifMobile2 from "@/assets/portofolio/aafif-space/mobile-2.jpg";
import aafifMobile3 from "@/assets/portofolio/aafif-space/mobile-3.jpg";
import freshtouImg1 from "@/assets/portofolio/freshtou/image-1.jpg";
import freshtouImg2 from "@/assets/portofolio/freshtou/image-2.jpg";
import freshtouImg3 from "@/assets/portofolio/freshtou/image-3.jpg";
import freshtouImg4 from "@/assets/portofolio/freshtou/image-4.jpg";
import freshtouImg5 from "@/assets/portofolio/freshtou/image-5.jpg";

import { Image } from "astro:assets";

const portofolios = [
  {
    name: "Fresh to You",
    images: [
      freshtouImg1,
      freshtouImg2,
      freshtouImg3,
      freshtouImg4,
      freshtouImg5,
    ],
    description:
      "is my personal website built using Astro, Vite, and Tailwind CSS. It serves as a digital portfolio to showcase my skills, projects, and experiences in web development. The site is designed to be fast, responsive, and user-friendly, providing visitors with an engaging experience while exploring my work and background.",
    link: "#",
    tech: [
      "Next.js",
      "React",
      "TypeScript",
      "Express.js",
      "PostgreSQL",
      "Prisma",
      "OpenAI",
      "TailwindCSS",
      "Shadcn",
    ],
    onlyMobile: true,
  },
  {
    name: "aafif.space",
    desktopImages: [aafifDesktop1, aafifDesktop2, aafifDesktop3],
    mobileImages: [aafifMobile1, aafifMobile2, aafifMobile3],
    description:
      "is my personal website built using Astro, Vite, and Tailwind CSS. It serves as a digital portfolio to showcase my skills, projects, and experiences in web development. The site is designed to be fast, responsive, and user-friendly, providing visitors with an engaging experience while exploring my work and background.",
    link: "#",
    tech: ["Astro", "Vite", "Tailwind CSS"],
    onlyMobile: false,
    github: "https://github.com/mhdafif/aafif.mhd",
  },
  // {
  //   name: "Profile Web v2 Others",
  //   image: webProfilev2,
  //   description:
  //     "<div>This was the second version of my profile website, created when I had just lost my job. In the meantime, I was searching for ideas for my profile site. Ultimately, it was used only as a playground.</div>",
  //   link: "/v2",
  //   tech: ["Astro", "Vite", "Tailwind CSS"],
  //   github: "https://github.com/mhdafif/aafif.mhd",
  // },
  // {
  //   name: "Profile Web v1",
  //   image: webProfile1,
  //   description: `My first profile website build <span class="text-star">@2020</span> to showcasing my work and experience as a frontend developer. Designed with simplicity, responsiveness, and fast performance in mind—this site marks my first step in building a personal digital presence.`,
  //   link: "https://mhdafif.vercel.app/",
  //   tech: ["React", "Material UI", "Styled Components"],
  //   github: "https://github.com/mhdafif/mhdafif.now.sh",
  // },
];

// Create randomized arrays for each column
function shuffleArray(array: any[]) {
  const shuffled = [...array];
  for (let i = shuffled.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];
  }
  return shuffled;
}
---

<div
  id="more-portofolio"
  class="other-item rounded-5 bg-charcoal hover:bg-blacki hover:shadow-charcoal-glow hover:border-off-white/10 group relative flex h-full w-full cursor-pointer items-center justify-center overflow-hidden border border-solid border-transparent text-xl font-semibold transition-all duration-300 ease-out"
>
  <h2 class="capitalize">Portofolio</h2>
  <div
    class="shortcut-key laptop:block bg-star text-blacki absolute top-0 left-1.5 z-[1] hidden rounded-b-xs px-1 text-sm font-medium transition-all duration-300 ease-out"
  >
    5
  </div>
  <div
    class="more-other bg-star rounded-5 absolute right-0 bottom-0 z-[1] flex w-fit -rotate-45 items-center justify-center px-4 py-0.5 transition-all duration-300 ease-out"
  >
    <Icon
      name="ic:baseline-open-in-new"
      class="text-blacki rotate-45 text-xl"
    />
  </div>
</div>

<Modal title="Portofolio" modalId="modal-portofolio">
  <div class="mt-6">
    <ul>
      {
        portofolios.map((item, index) => (
          <li class="project-item">
            <div class="project-content">
              <div>
                <h3 class="project-title">
                  <a
                    href={item.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-star"
                  >
                    {item.name}
                  </a>
                </h3>

                <div class="project-description" set:html={item.description} />

                {item.tech.length && (
                  <ul class="project-tech-list">
                    {item.tech.map((tech, i) => (
                      <li class="bg-charcoal text-off-white hover:bg-star hover:!text-blacki rounded-5 cursor-default snap-start px-1.5 py-0.5 text-xs text-nowrap transition-colors duration-300 ease-out">
                        {tech}
                      </li>
                    ))}
                  </ul>
                )}

                <div class="project-links">
                  {item.github && (
                    <a
                      href={item.github}
                      aria-label="GitHub Link"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <Icon name="cib:github" />
                    </a>
                  )}
                </div>
              </div>
            </div>

            <div class="project-image aspect-video h-auto w-full overflow-hidden">
              <div class="carousel-wrapper">
                {item.onlyMobile ? (
                  <a
                    href={item.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class={`carousel-img relative -top-10 grid !h-[120%] w-full scale-150 rotate-330 rotate-x-40 rotate-y-35 grid-cols-3 gap-3 overflow-hidden !bg-transparent ${index % 2 === 0 ? "laptop:left-10" : "laptop:-left-10"}`}
                  >
                    <div class="carousel-column carousel-mobile carousel-down flex flex-col gap-3">
                      {shuffleArray(item.images).map((img, index) => (
                        <Image
                          src={img}
                          alt={`img_left_${index + 1}`}
                          class="rounded-5 img w-full"
                        />
                      ))}
                    </div>
                    <div class="carousel-column carousel-mobile carousel-up flex flex-col gap-3">
                      {shuffleArray(item.images).map((img, index) => (
                        <Image
                          src={img}
                          alt={`img_middle_${index + 1}`}
                          class="rounded-5 img w-full"
                        />
                      ))}
                    </div>
                    <div class="carousel-column carousel-mobile carousel-down flex flex-col gap-3">
                      {shuffleArray(item.images).map((img, index) => (
                        <Image
                          src={img}
                          alt={`img_right_${index + 1}`}
                          class="rounded-5 img w-full"
                        />
                      ))}
                    </div>
                  </a>
                ) : (
                  <a
                    href={item.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class={`carousel-img relative -top-10 grid !h-[120%] w-full scale-150 rotate-330 rotate-x-40 rotate-y-35 grid-cols-3 gap-3 overflow-hidden !bg-transparent ${index % 2 === 0 ? "laptop:left-[52px]" : "laptop:-left-[52px]"}`}
                  >
                    <div class="carousel-column carousel-down col-span-2 flex flex-col gap-3">
                      {[...item.desktopImages, ...item.desktopImages].map(
                        (img, index) => (
                          <Image
                            src={img}
                            alt={`${item.name}_Desktop_${index + 1}`}
                            class="rounded-5 img w-full"
                          />
                        )
                      )}
                    </div>
                    <div
                      class={`carousel-column carousel-up flex flex-col gap-3 ${index % 2 === 0 ? "-order-1" : ""}`}
                    >
                      {item.mobileImages.map((img, index) => (
                        <Image
                          src={img}
                          alt={`${item.name}_Mobile_${index + 1}`}
                          class="rounded-5 img w-full"
                        />
                      ))}
                    </div>
                  </a>
                )}
              </div>
            </div>
            {/* <div class="project-image">
              <a href={item.link} target="_blank" rel="noopener noreferrer">
                <Image src={item.image} alt={item.name} class="img" />
              </a>
            </div> */}
          </li>
        ))
      }
    </ul>
  </div>
</Modal>

<script>
  const modalPortofolio = document.getElementById("modal-portofolio");
  const morePortofolio = document.getElementById("more-portofolio");
  const closePortofolioBtn = document.getElementById("modal-portofolio-close");
  const modalContainer = modalPortofolio.querySelector(".modal-container");
  const scrollToTop = document.getElementById("scrollToTop");

  function handleOpenModal(isOpen: boolean) {
    const anyModalOpen = document.querySelector(".modal.modal-open");
    const powerOff = window.sessionStorage.getItem("power") === "off";
    if (
      powerOff ||
      (isOpen && anyModalOpen && anyModalOpen !== modalPortofolio)
    ) {
      return;
    }

    if (isOpen) {
      modalPortofolio.classList.add("modal-open");
      scrollToTop.classList.add("hidden");
      document.body.style.overflow = "hidden";
    } else {
      modalContainer.scrollTo({ top: 0, behavior: "smooth" });
      modalPortofolio.classList.remove("modal-open");
      scrollToTop.classList.remove("hidden");
      if (!document.querySelector(".modal.modal-open")) {
        document.body.style.overflow = "";
      }
    }
  }

  addEventListener("keydown", (event) => {
    if (event.key === "5") {
      handleOpenModal(true);
    }
    if (event.key === "Escape") {
      handleOpenModal(false);
    }
  });
  morePortofolio.addEventListener("click", () => {
    handleOpenModal(true);
  });
  closePortofolioBtn.addEventListener("click", () => {
    handleOpenModal(false);
  });
  modalPortofolio.addEventListener("click", (event: any) => {
    if (modalPortofolio.classList.contains("modal-open")) {
      if (!modalContainer.contains(event.target)) {
        handleOpenModal(false);
      }
    }
  });
</script>
