---
const testimonials = [
  {
    name: "Ogy Rahmawan",
    role: "Engineer Manager",
    text: "I had the opportunity to work closely with Afif, and I can confidently say that he is a highly capable Frontend Developer. His technical skills in building clean, responsive, and user-friendly interfaces are top-notch. Afif has a strong eye for detail and always ensures that the user experience is smooth and intuitive. \r\n What sets Afif apart is his ability to quickly adapt to new technologies and turn complex designs into fully functional front-end applications. He's also a great collaborator — open to feedback, communicative, and dependable in delivering high-quality work on time. \r\n Any team would be lucky to have Afif on board. I highly recommend him for any frontend development role.",
  },
  {
    name: "Zaki Prasasti",
    role: "Technology Department Head - System Quality & Analyst",
    text: "Afif is a talented Frontend Engineer who consistently handles multiple projects with great attention to detail. His high initiative and dedication shine through in every task, and he's always eager to drive positive change by implementing the latest technologies. Afif is a true asset to any development team.",
  },
  {
    name: "Aditya Renaldi",
    role: "Frontend Developer",
    text: "I highly recommend Afif as a front-end developer. I've had the chance to work with him, and it's clear that he brings both strong technical skills and a great attitude to the team.\r\n He is solid with React, Vue, Nuxt, and Next.js, and he has a great handle on modern state management using tools like Zustand. He writes clean, maintainable code and always thinks about performance, usability, and how to improve the overall user experience.\r\n On top of that, he's easy to work with, communicates well, and is always willing to jump in and help out. If you're looking for someone dependable, talented, and genuinely great to have on the team, he is definitely your guy.",
  },
];
---

<div class="card laptop:py-6 space-y-8 px-0 pb-10">
  <div class="laptop:px-8 px-6 text-2xl font-bold capitalize">
    <span>People</span>
    <span class="text-star">feedback</span>
  </div>

  <div id="testimonials" class="carousel carousel--scroll-markers">
    {
      testimonials.map((item) => (
        <div class="carousel__slide laptop:px-8 px-6" data-label={item.name}>
          <figure class="testimonial" role="tabpanel" aria-label={item.name}>
            <p class="text-off-white/70 mb-4 text-base font-medium">
              {item.text}
            </p>

            <figcaption class="text-star laptop:text-xl text-lg font-semibold">
              {item.name}
            </figcaption>
            <cite>{item.role}</cite>
          </figure>
        </div>
      ))
    }
  </div>
</div>

<!-- <script>
  const container = document.getElementById("testimonials");
  const scrollStep = container.clientWidth;
  const maxScrollLeft = container.scrollWidth - container.clientWidth;

  const scrollLoop = () => {
    if (container.scrollLeft + scrollStep > maxScrollLeft + 10) {
      // At or near end — reset to beginning
      container.scrollTo({
        left: 0,
        behavior: "smooth",
      });
    } else {
      // Keep scrolling right
      container.scrollBy({
        left: scrollStep,
        behavior: "smooth",
      });
    }
  };

  const intervalId = setInterval(scrollLoop, 15000);

  window.addEventListener("unload", () => {
    clearInterval(intervalId);
  });
</script> -->

<style is:inline lang="scss">
  .carousel {
    anchor-name: --carousel;
    container-type: inline-size;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    counter-reset: item;
    margin-block-end: 2rem;
    padding-inline: 0;

    inline-size: 100%;

    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    grid-auto-columns: 100%;

    mask: linear-gradient(to right, #0000, #000 2%, #000 98%, #0000);
    @media (width >= 1024px) {
      mask: linear-gradient(to right, #0000, #000 2%, #000 98%, #0000);
    }

    @media (hover) {
      &:not(:hover, :focus-within)::scroll-button(*) {
        opacity: 0;
      }
    }

    &::scroll-button(left),
    &::scroll-button(right) {
      position-area: var(--_inner);
    }
  }

  .carousel__slide {
    container-type: scroll-state;
    scroll-snap-align: center;
  }

  .testimonial {
    transition: opacity 0.5s ease;

    @container not scroll-state(snapped: inline) {
      opacity: 0.25;
    }

    > blockquote,
    cite {
      border-inline-start: none;
    }
  }
</style>

<!-- Source : https://chrome.dev/carousel/horizontal/product/ -->
