---
import dewatiket from "@/assets/company/dewatiket.png";
import heymale from "@/assets/company/heymale.png";
import prospace from "@/assets/company/prospace-logo.png";
import ultravoucher from "@/assets/company/uv-logo.png";
import xsis from "@/assets/company/xsis-logo.png";
import { Image } from "astro:assets";

const companies = [
  {
    name: "Ultravoucher",
    logo: ultravoucher,
  },
  {
    name: "Prospace",
    logo: prospace,
  },
  {
    name: "XSIS Mitra Utama",
    logo: xsis,
  },
];
const freelances = [
  {
    name: "Dewatiket",
    logo: dewatiket,
  },
  {
    name: "Heymale",
    logo: heymale,
  },
];
---

<div class="card px-6 py-4 laptop:px-8 laptop:py-6 space-y-8">
  <p class="text-2xl font-bold">
    <span class="text-star">Company</span> I Worked With
  </p>

  <div class="laptop:grid-cols-3 grid grid-cols-2 gap-5">
    {
      companies.map((item) => (
        <div
          class={`group relative ${item.name.toLowerCase() === "ultravoucher" ? "laptop:col-span-1 col-span-2" : ""}`}
        >
          <Image
            src={item.logo}
            alt={item.name}
            class="mx-auto h-36 w-auto grayscale transition-all duration-300 group-hover:grayscale-0"
          />
          <div class="bg-star text-deep-gray shadow-dark absolute -bottom-4 left-1/2 -translate-x-1/2 scale-0 rounded-xl px-2 py-1 font-semibold text-nowrap transition-all duration-300 group-hover:scale-100">
            {item.name}
          </div>
        </div>
      ))
    }
  </div>

  <p class="text-center text-2xl font-bold">Others</p>

  <div class="laptop:grid-cols-2 grid gap-5">
    {
      freelances.map((item) => (
        <Image src={item.logo} alt={item.name} class="mx-auto h-20 w-auto" />
      ))
    }
  </div>
</div>
