---
import dewatiket from "@/assets/company/dewatiket.png";
import heymale from "@/assets/company/heymale.png";
import prospace from "@/assets/company/prospace-logo.png";
import ultravoucher from "@/assets/company/uv-logo.png";
import xsis from "@/assets/company/xsis-logo.png";

const companies = [
  {
    name: "Ultravoucher",
    logo: ultravoucher,
  },
  {
    name: "Prospace",
    logo: prospace,
  },
  {
    name: "XSIS Mitra Utama",
    logo: xsis,
  },
  {
    name: "Ultravoucher",
    logo: ultravoucher,
  },
  {
    name: "Prospace",
    logo: prospace,
  },
  {
    name: "XSIS Mitra Utama",
    logo: xsis,
  },
];
const freelances = [
  {
    name: "Dewatiket",
    logo: dewatiket,
  },
  {
    name: "Heymale",
    logo: heymale,
  },
  {
    name: "Dewatiket",
    logo: dewatiket,
  },
  {
    name: "Heymale",
    logo: heymale,
  },
];
---

<div class="card laptop:!px-8 laptop:!py-6 space-y-8">
  <p class="font-bold text-2xl">
    <span class="text-star">Company</span> I Worked With
  </p>

  <div class="pause">
    <div class="marquee !my-0 marquee--6">
      {
        companies.map((company) => (
          <div class="marquee__item rounded-10 h-[150px] w-[240px] bg-blacki p-2 group relative">
            <img
              src={company.logo.src}
              alt={company.name}
              class="h-full mx-auto grayscale group-hover:grayscale-0 group-hover:scale-110 transition-all duration-500"
            />
            <div class="bg-star text-deep-gray px-2 py-1 text-sm font-medium absolute bottom-2 left-2 rounded-10 shadow-dark transition-all duration-300 scale-0 group-hover:scale-100 text-nowrap">
              {company.name}
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <p class="font-bold text-2xl px-8 text-center">Others</p>

  <div class="pause">
    <div class="marquee !my-0 marquee--4">
      {
        freelances.map((item) => (
          <div class="marquee__item rounded-10 h-[150px] w-[400px] bg-blacki px-2 py-3 group relative">
            <img
              src={item.logo.src}
              alt={item.name}
              class="h-full mx-auto grayscale group-hover:grayscale-0 group-hover:scale-105 transition-all duration-500"
            />
            <div class="bg-star text-deep-gray px-2 py-1 text-sm font-medium absolute bottom-2 left-2 rounded-10 shadow-dark transition-all duration-300 scale-0 group-hover:scale-100 text-nowrap">
              {item.name}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<script></script>

<style is:inline lang="scss">
  .marquee {
    display: flex;
    block-size: var(--marquee-item-height);
    margin-block: var(--marquee-item-height);
    position: relative;
    overflow-x: hidden;

    mask-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 10%,
      hsl(0 0% 0% / 1) 90%,
      hsl(0 0% 0% / 0)
    );
    @media (width >= 1024px) {
      mask-image: linear-gradient(
        to right,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
      );
    }
  }

  .marquee--6 {
    --marquee-item-width: 240px;
    --marquee-item-height: 150px;
    --marquee-duration: 26s;
    --marquee-items: 6;
  }
  .marquee--4 {
    --marquee-item-width: 400px;
    --marquee-item-height: 150px;
    --marquee-duration: 24s;
    --marquee-items: 4;
  }

  .marquee__item {
    --marquee-item-offset: max(
      calc(var(--marquee-item-width) * var(--marquee-items)),
      calc(100% + var(--marquee-item-width))
    );
    --marquee-delay: calc(
      var(--marquee-duration) / var(--marquee-items) *
        (var(--marquee-items) - var(--marquee-item-index)) * -1
    );
    position: absolute;
    inset-inline-start: var(--marquee-item-offset);
    transform: translateX(-50%);
    animation: go linear var(--marquee-duration) var(--marquee-delay, 0s)
      infinite;
  }

  .marquee--6 .marquee__item:nth-of-type(1) {
    --marquee-item-index: 1;
  }

  .marquee--6 .marquee__item:nth-of-type(2) {
    --marquee-item-index: 2;
  }

  .marquee--6 .marquee__item:nth-of-type(3) {
    --marquee-item-index: 3;
  }

  .marquee--6 .marquee__item:nth-of-type(4) {
    --marquee-item-index: 4;
  }

  .marquee--6 .marquee__item:nth-of-type(5) {
    --marquee-item-index: 5;
  }

  .marquee--6 .marquee__item:nth-of-type(6) {
    --marquee-item-index: 6;
  }
  .marquee--4 .marquee__item:nth-of-type(1) {
    --marquee-item-index: 1;
  }

  .marquee--4 .marquee__item:nth-of-type(2) {
    --marquee-item-index: 2;
  }

  .marquee--4 .marquee__item:nth-of-type(3) {
    --marquee-item-index: 3;
  }

  .marquee--4 .marquee__item:nth-of-type(4) {
    --marquee-item-index: 4;
  }

  @keyframes go {
    to {
      inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
  }

  .pause:hover .marquee__item {
    animation-play-state: paused;
  }
</style>
