---
import { Icon } from "astro-icon/components";
const currentPath = new URL(Astro.request.url).pathname;
const navLinkLeft = [
  { href: "/v2/about", label: "About", icon: "ic:baseline-person" },
  { href: "/v2/resume", label: "Resume", icon: "ic:baseline-auto-stories" },
];
const navLinkRight = [
  {
    href: "/v2/portofolio",
    label: "Portofolio",
    icon: "ic:baseline-interests",
  },
  { href: "/v2/contact", label: "Contact", icon: "ic:baseline-perm-phone-msg" },
];
---

<nav
  class="laptop:hidden fixed bottom-0 left-0 z-10 w-full"
  aria-label="nav-mobile"
>
  <!-- 1. Background layer with notch -->
  <div class="mask-notch bg-charcoal relative z-0 h-16"></div>

  <!-- 2. Foreground content -->
  <ul class="absolute bottom-0 left-0 z-10 flex h-16 w-full items-center">
    <li class="grid h-full w-[calc((100%-72px)/2)] grid-cols-2">
      {
        navLinkLeft.map((link) => (
          <a
            href={link.href}
            aria-disabled={currentPath === link.href}
            class={`flex flex-col items-center justify-center gap-0.5 aria-disabled:pointer-events-none ${
              currentPath === link.href
                ? "dark:text-star font-medium"
                : "text-gray-400"
            }`}
          >
            <Icon name={link.icon} class="h-7 w-7" />
            <span class="text-xs">{link.label}</span>
          </a>
        ))
      }
    </li>
    <li class="w-[72px]"></li>
    <li class="grid h-full w-[calc((100%-72px)/2)] grid-cols-2">
      {
        navLinkRight.map((link) => (
          <a
            href={link.href}
            aria-disabled={currentPath === link.href}
            class={`flex flex-col items-center justify-center gap-0.5 aria-disabled:pointer-events-none ${
              currentPath === link.href ? "dark:text-star" : "text-gray-400"
            }`}
          >
            <Icon name={link.icon} class="h-7 w-7" />
            <span class="text-xs">{link.label}</span>
          </a>
        ))
      }
    </li>
  </ul>

  <!-- 3. Floating button -->
  <a
    class={`absolute -top-7 left-1/2 transform -translate-x-1/2 w-14 h-14 rounded-full flex items-center justify-center shadow-xl z-20 aria-disabled:pointer-events-none ${currentPath === "/" ? "bg-star text-deep-gray" : "bg-deep-gray text-star"}`}
    href="/v2"
  >
    <Icon name="ic:round-home" class="h-7 w-7" />
  </a>
</nav>

<style is:global>
  .mask-notch {
    -webkit-mask-image: radial-gradient(
      circle 36px at center top,
      transparent 36px,
      white 36px
    );
    mask-image: radial-gradient(
      circle 36px at center top,
      transparent 36px,
      white 36px
    );
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
</style>
